<!DOCTYPE html>
<html>
<head>
	<title>Sample_Landing page</title>
	<link rel="stylesheet" type="text/css" href="css/template.css">
	<link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
</head>
<body>
<div class="header">
	<div class="logo">
		<input type="button"  class="button1" name="button1" value="Best City Guide">
</div>
<div class="navv">
	<input type="button" class="button" value="ICE CREAM">
	<input type="button" class="button" value="DONUTS">
	<input type="button" class="button" value="TEA">
	<input type="button" class="button" value="COFFEE">
</div>
</div>

<div class="container">
	<div class="left">
		<h1>WELCOME</h1>
		<p>Everything in this city is worth waiting in line for.</p>
		<p>Cupcake ipsum dolor sit.Amet chocolate cake gummies jelly beans candy bondon brownie candy. Gingerbread powder muffin. Icing cotton candy.Croissant icing pie ice cream brownie I love cheese cookie.Pastry chocolate pastry jelly croissant.</p>
		<p>Cake sesame snaps sweet tart vcandy canes tiramisu I love oat cake chocolate  bar. Jelly beans pastry brownie sugar plum pastry bear claw tirumisu tootsie roll. Tootsie roll wafer I love chocolate donuts. </p>
	</div>
	<div class="right">
		<h1>Great Food!</h1>
		<p><img src="img/ko.jpeg" alt="pineapple" height="50px" width="50px">
		</p>
<p>Croissant macaroon pie brownie.Cookie marshmallow liquorice gingerbread caramels toffee I love chocolate. Wafer lollilop dessert.Bonbon jelly beans pudding dessert sugar plum. </p>
	<p>Marzipan toffee dragee chocolate bar candy toffee pudding I love.Gummi bears pie gingerbread lollilop.</p>
	<p>Fruitcake jelly-o croissant souffie. Biscuit jujubes dragee. Sasame snaps toostie roll chocolate bar cake tart macaroon pudding . Ice cream gummies jujubies cupcake . Cake marshmallow cookie lollilop tart . Toostie roll bear claw marzipzn jujubes wafer tart chocolate bar cake biscuit . Jelly beans danish pastry apple pie fruitcake.Jelly o- cicng candy canes lollipop tiramisu</p>

	</div>
</div>
<div class="clear"></div>
<div class="footer">
	<p> &copy;2018 Residents Of The Best City Ever</p>

</div>
</body>
</html>